* {
	border: none;
        font-family: "UbuntuMono Nerd Font" ;
	font-size: 15px;
}

window#waybar {
	background: #181926;
}

#clock,
#workspaces,
#custom-powermenu,
#custom-dunst,
#pulseaudio {
    margin-right: 10px;
}

#workspaces button {
    font-weight: bolder;
    background: #181926;
    color: #c6a0f6;
}

#workspaces button.persistent {
    font-weight: bolder;
    background: #181926;
    color: #c6a0f6;
}

#workspaces button.active{
    background: #c6a0f6;
    color: #181926;
}

#custom-dunst {
    	transition: none;
	color: #c6a0f6;
}

#clock {
	transition: none;
	color: #c6a0f6;
	font-weight: bolder;
}

#tray {
	margin-right: 10px;
	transition: none;
	color: #B5E8E0;
}

#pulseaudio {
	transition: none;
	color: #c6a0f6;
}

#pulseaudio.microphone {
	transition: none;
	color: #c6a0f6;
}

#custom-vm {
	transition: none;
	color: #c6a0f6;
	padding-right: 15px;
}
