* {
        border: none;
        font-family: "Maple Mono SC NF" ;
        font-size: 12px;
}

window#waybar {
        background: #181926;
        border-radius: 5px;
}

#clock,
#workspaces,
#custom-powermenu,
#custom-dunst,
#pulseaudio {
    margin-right: 10px;
}

#workspaces button {
    font-weight: bold;
    color: #313244;
    padding: 5px;
    border-radius: 100px;
}

#workspaces button.active{
    font-weight: bolder;
    color: #e5b9c6;
}

#custom-dunst {
        transition: none;
        color: #e5b9c6;
        font-family: "Ubuntu Mono Nerd Font" ;
        font-size: 12px;
        padding-right: 10px;
}

#clock {
        transition: none;
        color: #e5b9c6;
        font-weight: bolder;
        padding-left: 10px;
}

#tray {
        margin-right: 10px;
        transition: none;
        color: #B5E8E0;
}

#pulseaudio {
        transition: none;
        color: #e5b9c6;
        font-family: "Ubuntu Mono Nerd Font" ;
        font-size: 14px;
}

#pulseaudio.microphone {
        transition: none;
        color: #e5b9c6;
        font-family: "Ubuntu Mono Nerd Font" ;
        font-size: 14px;
}

#custom-vm {
        transition: none;
        color: #e5b9c6;
        padding-right: 15px;
        font-family: "Ubuntu Mono Nerd Font" ;
        font-size: 12px;
}
