* {
  font-family:  JetBrains Mono Nerd Font;
  font-size: 15px;
  font-weight: 400;
  outline-style: none;
}


window {
  margin: 0px;
  border: 5px solid #181825;
  background-color: #1e1e2e;
  border-radius: 15px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #cdd6f4;
  font-weight: bold;
  background-color: #11111b;
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px 0px 0px 15px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  border: 5px solid #181825;
}

#scroll {
  margin-top: 0px;
  border: none;
  border-radius: 15px;
  margin-bottom: 0px;
}

#text:selected {
  color: #f1f0f5;
  margin: 0px;
  border: none;
  border-radius: 15px 0px 0px 15px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 15px 15px;
  background: #cba6f7;
}
